version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - db-data:/app/data
    environment:
      - TRANSCRIBER_URL=http://transcriber:8002
    depends_on:
      - transcriber
    networks:
      - transcription-network

  transcriber:
    build:
      context: ./docker/transcriber
      dockerfile: Dockerfile
    ports:
      - "8002:8002"
    networks:
      - transcription-network

volumes:
  db-data:

networks:
  transcription-network:
    driver: bridge
